<!-- messaging.component.html -->

<div class="messaging-container">
    <h2>Contact Us</h2>
    <form (ngSubmit)="onSubmit()" #messagingForm="ngForm">
      <label for="name">Name</label>
      <input type="text" id="name" required [(ngModel)]="formData.name" name="name" />
      
      <label for="email">Email</label>
      <input type="email" id="email" required [(ngModel)]="formData.email" name="email" />
      
      <label for="message">Message</label>
      <textarea id="message" rows="5" required [(ngModel)]="formData.message" name="message"></textarea>
      
      <button type="submit" [disabled]="!messagingForm.form.valid">Send</button>
    </form>
  </div>
  